$palette-mcgpalette0:
rgb(255, 232, 225)
rgb(255, 197, 179)
rgb(255, 158, 129)
rgb(255, 119, 79)
rgb(255, 90, 41)
rgb(255, 61, 3)
rgb(255, 55, 3)
rgb(255, 47, 2)
rgb(255, 39, 2)
rgb(255, 26, 1)
rgb(255, 255, 255)
rgb(255, 243, 242)
rgb(255, 195, 191)
rgb(255, 171, 166)
;

$palette-mcgpalette0-50: nth($palette-mcgpalette0, 1);
$palette-mcgpalette0-100: nth($palette-mcgpalette0, 2);
$palette-mcgpalette0-200: nth($palette-mcgpalette0, 3);
$palette-mcgpalette0-300: nth($palette-mcgpalette0, 4);
$palette-mcgpalette0-400: nth($palette-mcgpalette0, 5);
$palette-mcgpalette0-500: nth($palette-mcgpalette0, 6);
$palette-mcgpalette0-600: nth($palette-mcgpalette0, 7);
$palette-mcgpalette0-700: nth($palette-mcgpalette0, 8);
$palette-mcgpalette0-800: nth($palette-mcgpalette0, 9);
$palette-mcgpalette0-900: nth($palette-mcgpalette0, 10);
$palette-mcgpalette0-A100: nth($palette-mcgpalette0, 11);
$palette-mcgpalette0-A200: nth($palette-mcgpalette0, 12);
$palette-mcgpalette0-A400: nth($palette-mcgpalette0, 13);
$palette-mcgpalette0-A700: nth($palette-mcgpalette0, 14);
