@import "../../node_modules/bulma/sass/utilities/all";

$primary: #FF5722;
$primary-invert: findColorInvert($primary);
$link: #F44336;
$info: #F44336;
$navbarbg: #D32F2F;

@import "~bulma";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.hero-body {
  padding: 3rem 3rem 0rem 3rem;
}

.column {
  padding: 0;
}

.container.is-fluid {
  padding: 0;
  margin: 0;
}


