@import "../../node_modules/bulma/sass/utilities/initial-variables";

$primary: $orange;
$info: #fb9062;
$warning: #e5e5e5;
$danger: $grey;
$success: #c40000;

@import "~bulma";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
